<div class="container">
  <div class="row">
      <div class="page-header">
      <h1 class="faq-title">도움말</h1>
      </div>
    <div class="col-md-9">
      <div class="faq-content-wrapper">
        <div class="panel panel-default faq-panel">
          <div class="panel-body">
            <a name="A"></a><h3>크라우드펀딩이 무엇인가요?</h3>
            <p>크라우드 펀딩(crowdfunding)은 소셜 네트워크 서비스를 이용해 소규모 후원 투자 등의 목적으로 인터넷과 같은 플랫폼을 통해 다수의 개인들로부터 자금을 모으는 행위이다. 주로 자선활동, 이벤트 개최, 상품 개발 등을 목적으로 자금을 모집한다. 여기에는 투자방식 및 목적에 따라 지분투자, 대출, 보상, 후원 등으로 분류할 수 있다.</p>
            <a name="B"></a><h3>프레시스트는 왜 크라우드펀딩 방식으로 판매하는가요?</h3>
            <p>프레시스트는 크라우드펀딩으로 소비자들이 직접 참여하는 브랜드를 지향합니다. 고객의 호응과 즉각적인 반응으로 제품의 제작여부를 판단하고 소비자에게 나의 브랜드라는 아이덴티티를 줍니다. 목표수량 달성시 첫 펀딩에 참여한 소비자에게 보다 합리적인 가격의 상품과 패키지로 다가갑니다.</p>
            <a name="C"></a><h3>나도 만들고 싶은 제품이 있는데 참여할 수 있나요?</h3>
            <p>프레시스트는 언제나 열려있습니다. 유니크한 아이디어를 가진 분 모두가 콜라보레이터가 될 수 있으며, 언제나 프레시스트는 고객과 함께만들어 가는 브랜드 입니다. contact@freshi.st으로 문의 보내주시기 바랍니다. </p>
            <a name="D"></a><h3>크라우드펀딩을 통한 제품의 결제는 카드만 가능한가요?</h3>
            <p>카드결제만 가능합니다. 크라우드펀딩은 기간내에 목표달성이라는 미션을 주고 진행되는 시스템입니다. 결국 목표달성이 실패할 경우 모든(펀딩에참여한고객) 결제는 취소되며, 그 상품은 제작되지 않습니다. 펀딩중이 제품의 카드결제는 임시이며, 펀딩의 성공시 종료시점에 맞춰 결제 됩니다.</p>
            <a name="E"></a><h3>배송은 어떻게 되나요?</h3>
            <p>크라우드펀딩의 특징은 주문 후 생산입니다. 펀딩의 성공시 결제승인이 나며, 종료시점에 맟주어 수량만큼을 조달하는 방식입니다. 보다 합리적인 소비자가의 설득력있는 제품을 넓은 이해심으로 기다려주시기 바랍니다. 제품의 배송기간은 따로 명시됩니다.</p>
            <a name="F"></a><h3>A/S는 가능한가요?</h3>
            <p>제품의 불량 및 수선은 별도의 요금없이 가능합니다. 단 사용하며 생긴 생활오염및 불량은 별도의 요금이 발생합니다. 또한 *가방의 모서리 마모 및 옷감의 필링등 제품의 A/S가 불가합니다.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="faq-sidebar-wrapper">
        <h3 class="faq-sidebar-title">목차</h3>
        <div class="list-group">
          <a href="#A" class="list-group-item">크라우드펀딩이 무엇인가요?</a>
          <a href="#B" class="list-group-item">프레시스트는 왜 크라우드펀딩 방식으로 판매하는가요?</a>
          <a href="#C" class="list-group-item">나도 만들고 싶은 제품이 있는데 참여할 수 있나요?</a>
          <a href="#D" class="list-group-item">배송은 어떻게 되나요?</a>
          <a href="#E" class="list-group-item">크라우드펀딩을 통한 제품의 결제는 카드만 가능한가요?</a>
          <a href="#F" class="list-group-item">A/S는 가능한가요?</a>
        </div>
      </div>
    </div>
  </div>
  
</div>
